<% content_for(:page_title, "Nuevo expediente") %>

<div class="max-w-3xl">
  <div class="page-header">
    <h1 class="page-title">Nuevo expediente</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render "form", expediente: @expediente %>
    </div>
  </div>
</div>
